<h1>Login</h1>

<div class="content">
    <label for="password">E-mail: *</label>
    <input
      class="textInput"
      ng-class="{'edit': $ctrl.editing, 'new-todo': $ctrl.newTodo}"
      ng-model="$ctrl.password"
      ng-keypress="$ctrl.handleSubmit($event)"
      ng-blur="$ctrl.handleBlur()"
      placeholder="{{$ctrl.placeholder}}"
      type="password"
    />

  <label for="password">Senha: *</label>
  <input
    class="textInput"
    ng-class="{'edit': $ctrl.editing, 'new-todo': $ctrl.newTodo}"
    ng-model="$ctrl.password"
    ng-keypress="$ctrl.handleSubmit($event)"
    ng-blur="$ctrl.handleBlur()"
    placeholder="{{$ctrl.placeholder}}"
    type="password"
  />
</div>